{% extends 'base.html' %}

{% block title %}Delete City - User Management{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card border-danger border-3 mt-5">
            <div class="card-body text-center py-5">
                <i class="fas fa-exclamation-triangle text-danger fa-4x mb-3"></i>
                <h4>Delete City</h4>
                <p>Are you sure you want to delete <strong>{{ city.name }}</strong>?</p>
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    <a href="{% url 'users:city-detail' pk=city.id %}" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
